<div class="container-fluid">
    <div class="row">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">name</th>
                                <th scope="col">email</th>
                                <th scope="col">address</th>
                                <th scope="col">dob</th>
                                <th scope="col">company</th>
                                <th scope="col">salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of employees">
                                <th scope="row">{{i.id}}</th>
                                <td>{{i.name}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.address}}</td>
                                <td>{{i.dob}}</td>
                                <td>{{i.company}}</td>
                                <td>{{i.salary}}</td>
                                <td><button class="btn btn-outline-warning" (click)="deleteEmployee(i.id)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>
</div>
