<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-3">
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <input type="text" placeholder="enter name" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                     <input type="email" placeholder="enter email" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <input type="text" placeholder="enter address " class="form-control" name="address" [(ngModel)]="address">
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <input type="date" placeholder="enter date of birth" class="form-control" name="dob" [(ngModel)]="dob">
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <input type="text" placeholder="enter company" class="form-control" name="company" [(ngModel)]="company">
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <input type="number" placeholder="enter salary" class="form-control" name="salary" [(ngModel)]="salary">
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <div class="d-grid gap-2">
                          <button class="btn btn-primary" (click)="readValues()" type="button">add</button>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
